<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инструкция по API</title>
</head>
<body>
    <h2><b>Инструкция к API</b></h2><br><br>

    <b>ВНИМАНИЕ!</b><br>
    <p>Чтобы описанные ниже запросы сработали - при отправке их необходимо добавлять к адресу <a href="http://localhost:8080/">http://localhost:8080/</a></p>
    <p>Например, правильная ссылка для отправки POST-запроса на добавление опроса будет выглядеть так: <a href="http://localhost:8000/poll/admin/post/">http://localhost:8000/poll/admin/post/</a></p>

    <p><b>poll/post/</b> - POST-запрос для добавления опроса. Тело POST-запроса:</p>
<textarea rows="6" cols="100">{
    'name': 'Имя опроса',
    'description': 'Описание опроса',
    'start_date': '2021-01-01', // дата начала опроса
    'finish_date': '2021-12-31' // дата окончания опроса
}</textarea>
        <p><b>Выполнение запроса доступно только авторизированному администратору.</b></p>

    <p><b>poll/update/id_опроса/</b> - POST-запрос для изменения опроса с определённым ID. Тело POST-запроса:</p>
<textarea rows="4" cols="100">{
    'field': 'Название поля, которое необходимо поменать в опросе',
    'value': 'Значение, на которое необходимо поменять это поле'
    }</textarea>
    <p><b>Выполнение запроса доступно только авторизированному администратору.</b></p>

    <p><b>poll/delete/id_опроса/</b> - POST-запрос для удаления опроса с определённым ID. Для удаления достаточно отправить пустой POST-запрос по ссылке, указав id-опроса.</p>
    <p><b>Выполнение запроса доступно только авторизированному администратору.</b></p>

    <p><b>question/post/</b> - POST-запрос для добавления вопроса в опрос. Тело POST-запроса:</p>
<textarea rows="7" cols="100">{
    'poll_id': 1, // ID-опроса, в который добавляется вопрос
    'text': 'Текст задаваемого вопроса',
    'type': 0 // Тип задаваемого вопроса. Всего их 3: 0 - ответ на вопрос текстом, 1 - ответ на вопрос одним вариантом ответа из нескольких предложенных, 2 - ответ на вопрос несколькими вариантами ответов из предложенных
    }</textarea>
    <p><b>Выполнение запроса доступно только авторизированному администратору.</b></p>

    <p><b>question/update/id_вопроса/</b> - POST-запрос для изменения вопроса с определённым ID в опросе. Тело POST-запроса:</p>
<textarea rows="4" cols="100">{
    'field': 'Название поля, которое необходимо поменать в вопросе',
    'value': 'Значение, на которое необходимо поменять это поле'
    }</textarea>
    <p><b>Выполнение запроса доступно только авторизированному администратору.</b></p>

    <p><b>question/delete/id_вопроса/</b> - POST-запрос для удаления опроса с определённым ID. Для удаления достаточно отправить пустой POST-запрос по ссылке, указав в ней id-опроса.</p>
    <p><b>Выполнение запроса доступно только авторизированному администратору.</b></p>

    <p><b>variant/post/</b> - POST-запрос для добавления ответа на вопрос. Тело POST-запроса:</p>
<textarea rows="5" cols="100">{
    'number': 1, // номер варианта ответа в вопросе непосредственно
    'question_id': 2, // номер вопроса, которому будет принадлежать данный вариант ответа
    'text': 'Текст варианта ответа'
    }</textarea>
    <p><b>Выполнение запроса доступно только авторизированному администратору.</b></p>

    <p><b>variant/update/id_вопроса/номер_ответа/</b> - POST-запрос для изменения ответа с определённым номером на вопрос с определённым id. Тело POST-запроса:</p>
<textarea rows="4" cols="100">{
    'field': 'Название поля, которое необходимо поменать в вопросе',
    'value': 'Значение, на которое необходимо поменять это поле'
    }</textarea>
    <p><b>Выполнение запроса доступно только авторизированному администратору.</b></p>

    <p><b>variant/delete/id_вопроса/номер_ответа/</b> - POST-запрос для удаления ответа с определённым номером на вопрос с определённым id. Для удаления достаточно осуществить пустой POST-запрос по ссылке, указав необходимый параметр.</p>
    <p><b>Выполнение запроса доступно только авторизированному администратору.</b></p>

    <p><b>answer/post/</b> - POST-запрос для ответа на вопрос из опроса. Тело POST-запроса:</p>
    <p>1) если отправляется ответ на вопрос с типом равным 0 (принимающим в качестве ответа только текст)</p>
<textarea rows="5" cols="100">{
    'question_id': 1, // id-вопроса, на который осуществляется ответ
    'user_id': 1, // id пользователя, отвечающего на вопрос
    'text': 'Текст ответа на вопрос'
    }</textarea>
    <p>2) если отправляется ответ на вопрос с типом равным 1 (принимающим в качестве ответа один из вариантов ответа)</p>
<textarea rows="5" cols="100">{
    'question_id': 2, // id-вопроса, на который осуществляется ответ
    'user_id': 1, // id пользователя, отвечающего на вопрос
    'variants_number': [1] // номер варианта ответа на этот вопрос
    }</textarea>
    <p>3) если отправляется ответ на вопрос с типом равным 2 (способен принимать в качестве ответа больше одного варианта ответа)</p>
<textarea rows="5" cols="100">{
    'question_id': 3, // id-вопроса, на который осуществляется ответ
    'user_id': 1, // id пользователя, отвечающего на вопрос
    'variants_number': [1, 2, 3] // номера вариантов ответа на этот вопрос
    }</textarea>

    <p><b>answer/get/id_пользователя/</b> - GET-запрос для просмотра опросов, на которые ответил пользователь с данным user_id. Для того, чтобы получить список опросов, на которые ответил данный пользователь - достаточно отправить GET-запрос по даной ссылке с указанным user_id.</p>

    <p><b>get/polls/</b> - GET-запрос для получения списка всех актуальных опросов. Для того, чтобы получить список всех актуальных опросов, достаточно отправить GET-запрос по данному адресу.</p>

    <p><b>get/questions/</b> - GET-запрос для отправки списка всех вопросов. Для того, чтобы получить список всех вопросов - достаточно отправить GET-запрос на данный адрес.</p>

    <p>P.S. Имя суперпользователя Django и администратора REST API - rem, пароль - 12345678</p>
</body>
</html>